<style>
  .section-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .section-body {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;

  }
  .section-header {
    margin: 0px;
  }
  .skillset .category {
    font-style: italic;
    font-weight: bold;
  }

  .badge-container {
    width: 100px;
    float: left;
  }
  .badge-container img:hover {
    transform: scale(1.05);
    opacity: 0.5;
    cursor: pointer;
  }

  .badge-img {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 50px;
  }
  .badge-txt {
    text-align: center;
  }
  #prog-profiles {
  }
</style>

<div class="section-container">
  <h1 class="section-header">Hello</h1>

  <div class="section-body">
    <div>My name is Fredrik Antell.</div><br>
    <div>I'm a Front End developer.  I mostly write Javascript and ClojureScript.</div><br>
    <div>I'm also a communications expert and have advised individuals, teams, and executives.</div><br>
    <div>Learning makes me happy. So does connecting the big picture with the details.</div>
  </div>
</div>

<div class="section-container">
  <h1 class="section-header">Programming</h1>
  <div class="section-body">
    <div id="prog-overview">I'm a JS developer, who loves ClojureScript and functional programming.
      I'm excited to see implementations of some of the best ideas in CLJS (immutability/persistent data
      structures, CSP, etc) filtering back into Javascript!

      <!--You can get an idea of what I know and how I write code check out some of the other tabs.-->
    </div>

    <br>

    <div id="prog-skills">Here are some of the technologies I've used in projects:<br>
      <div class="skillset"><span class="category">Languages:</span> JavaScript, HTML/5, CSS/LESS/SASS, Clojure,
        ClojureScript</div>
      <div class="skillset"><span class="category">JavaScript libraries:</span> jQuery, node.js, Express,
        Angular.js, Backbone.js, React.js, Grunt.js</div>
      <div class="skillset"><span class="category">Clojure/Script libraries:</span> core.async, Om, compojure, ring, liberator, lib-noir</div>
      <div class="skillset"><span class="category">Additional skills:</span> Git, Github, MVC, REST, SQL, NoSQL, Linux, functional programming</div>
    </div>

    <br>

    <div id="prog-profiles">
      <p>Here are some of my profiles from 2013 and beyond.</p>
      <a href="http://teamtreehouse.com/fredrikantell"><div class="badge-container">
        <img class="badge-img" src="./images/treehouse.svg">
        <div class="badge-txt">Treehouse</div>
      </div></a>
      <a href="https://www.codeschool.com/users/foantell"><div class="badge-container">
        <img class="badge-img" src="./images/codeschool-logo.png">
        <div class="badge-txt">CodeSchool</div>
      </div></a>
      <a href="http://github.com/fredantell"><div class="badge-container">
        <img class="badge-img" src="./images/GitHub-Mark-64px.png">
        <div class="badge-txt">Github</div>
      </div></a>
      <a href="http://codepen.io/fredantell/"><div class="badge-container">
        <img class="badge-img" src="./images/codepen-logo.png">
        <div class="badge-txt">CodePen</div>
      </div></a>
      <div style="clear:both;"></div>
    </div>

    <br>
  </div>
</div>

<div class="section-container">
  <h1 class="section-header">Communications</h1>
  <div class="section-body">
    <div>I love people, but didn't always understand them very well. So I taught myself how.</div>
    <div>I've worked with individuals personally and professionally, as well as teams and executives.</div>
    <div>I also mentor engineers on their interpersonal and team skills.</div>
    <!--<div>Sometimes I write about communications strategies.</div>-->
  </div>
</div>